<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Info User Page</title>
</head>
<body>
<h1 th:text="${user.getName()} + ' welcome to spring boot user page!'"></h1>
<br/>
<b>USER ID: </b>
<td th:text="${user.getId()}"></td>
<br/>
<b>USER NAME: </b>
<td th:text="${user.getName()}"></td>
<br/>
<b>USER LASTNAME: </b>
<td th:text="${user.getLastname()}"></td>
<br/>
<b>USER AGE: </b>
<td th:text="${user.getAge()}"></td>
<br/>
<b>USER EMAIL: </b>
<td th:text="${user.getEmail()}"></td>
<br/>
<b>ALL ROLES: </b>
<td th:text="${#strings.arrayJoin(user.getRoles(), ', ')}"></td>
<br/>
<br/>
<form th:if="${adminCheck == true}" th:action="@{/admin}" method="get">
    <input type="submit" value="Go to Admin Page">
</form>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>